:root {
    --location-color:#062226;
    --color-titles: #ecf1f1;
    --color-paragraph: #9ca3a8;
    --no-information-color:#ccc;
    --hr-color:#084851;
    --location-name:#9ACD32;
}

.location_info{
    width: 100%;
    max-width: 660px;
    background-color: var(--location-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.location_name{
    padding-top: 1rem;
    color: var(--location-name);
    text-align: center;
    font-size: 2rem;
}

.location_list{
    text-align: center;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.location_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.location_label{
    font-size: 1.1rem;
    color: var(--color-titles);
}

.location_value{
    color: var(--color-paragraph);
}