.resident-container{
    display: flex;
    gap: 2em;
    padding: 2em;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1030px;
    margin: 0 auto;
}

.header_img{
    height: 300px;
    position: relative;
}

.header_img-name{
    position:absolute;
    z-index: 10000;
    top: -1%;
    left: 4%;
    max-height:6rem;
    max-width: 15rem;
}

.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msg_error{
    color:white;
    text-align: center;
}