.resident-container{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1030px;
    margin: 0 auto;
}

.header_img{
    height: 300px;
    position: relative;
}

.header_img-name{
    position:absolute;
    z-index: 10000;
    top: -1%;
    left: 4%;
    max-height:6rem;
    max-width: 15rem;
}

.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msg_error{
    color:white;
    text-align: center;
}

/*SCROLL BODY*/

body::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb{
    background-color: var(--color_btn);
    border-radius: 5px;
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-track {
    background-color: var(--first-color);
}
