@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

:root {
    --first-color: #05292e;
    --resident-color:#062226;
    --color_btn:#9ACD32;
    --color-titles: #ecf1f1;
    --color-paragraph: #9ca3a8;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Alice', serif;
    background-color: var(--first-color);
}

ul{
   list-style: none; 
}

input, button{
    border:none;
    font-family: inherit;    
}

input{
    outline: none;
}

img{
    width: 100%;
    display: block;
}